@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.dashboard-layout {
    height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 7fr 1fr;
}

.dashboard-layout-d {
    grid-column-start: 1;
    grid-column-end: 4;
}



.tracker-color .react-colorful {
    padding: 16px;
    border-radius: 12px;
    background: #33333a;
    box-shadow: 0 6px 12px #999;
}

.tracker-color .react-colorful__saturation {
    margin: 15px 0;
    border-radius: 0.75rem;
    border-bottom: none;
}

.tracker-color .react-colorful__hue {
    order: 1;
}

.tracker-color .react-colorful__hue,
.tracker-color .react-colorful__alpha {
    height: 20px;
    border-radius: 0.75rem;
}

.tracker-color .react-colorful__hue-pointer,
.tracker-color .react-colorful__alpha-pointer {
    width: 30px;
    height: 30px;
}